@model HotelBookingPlatform.Models.Room


@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Details</h1>

<div class="room-container">

    <div id="room-header">
        <select>
        <h3> @Html.DisplayFor(model => model.RoomId), Zografou | Reviews: </h3>
    </div>

    <div class="room-img"><img src="https://placehold.it/400x250"></div>
    <div class="room-ul">
        <ul>
            <li>blah</li>
            <li>blah</li>
            <li>blah</li>
            <li>blah</li>
            <li>blah</li>
        </ul>
    </div>

    <div id="room-description">
        <div class="room-dets">

            <h3>room-desc</h3>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse euismod lectus porttitor, lacinia
                ligula in, dictum quam. Nulla nec risus nibh. Fusce vel erat id ipsum consectetur rutrum. Quisque felis
                augue, venenatis in ex non, malesuada sollicitudin elit. Donec eleifend elementum dui, sed laoreet ex
                cursus vitae. Cras gravida varius lorem, a molestie nulla efficitur pellentesque. Proin tristique, leo
                eget aliquam rhoncus, nibh est laoreet eros, nec sollicitudin risus diam vel massa. Fusce ut mauris
                nulla. Ut est metus, finibus nec nunc ut, commodo tristique eros. Praesent ligula tortor, ultrices a
                mattis in, gravida tincidunt odio. Nam bibendum justo eu vulputate porta. In aliquam in est et mattis.
            </p>
        </div>
        <div style="text-align:right">
            <input type="submit" id="booking-room-button" value="Already booked" />
        </div>

    </div>

    <div id="review">

        <div id="client_review">

            <h5>Add reviews</h5>

            <h6> 1. Username_</h6>
            <p>Add time</p>
            <p>Add time</p>
        </div>

    </div>

    <form>

        <div id="room-desc">

            <h5>Reviews</h5>

            <input type="text" id="my-review" />
        </div>
        <div style="text-align:center"><input type="submit" id="review-sumbit" value="Submit" /></div>
    </form>


</div>

