
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Profile</h1>

<div class="junior-container">
    <div class="leftside">
        <div id="favourites">
            <h3>Favourites</h3>
            <p>Hilton hotel</p>
        </div>
        <div id="reviews">
            <h5>Reviews</h5>
            <p>nice</p>
        </div>
    </div>
    <div class="rightside">
        <div class="booking-header">
            <h3>My bookings</h3>
        </div>
        <div class="room-description">

            <div class="featured-img"><img src="https://placehold.it/200x150"></div>
            <div class="room-dets">

                <h3>Hilton</h3>
                <h5>Attiki, Zografou</h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse euismod lectus porttitor, lacinia ligula in, dictum quam. Nulla nec risus nibh. Fusce vel erat id ipsum consectetur rutrum. Quisque felis augue, venenatis in ex non, malesuada sollicitudin elit. Donec eleifend elementum dui, sed laoreet ex cursus vitae. Cras gravida varius lorem, a molestie nulla efficitur pellentesque. Proin tristique, leo eget aliquam rhoncus, nibh est laoreet eros, nec sollicitudin risus diam vel massa. Fusce ut mauris nulla. Ut est metus, finibus nec nunc ut, commodo tristique eros. Praesent ligula tortor, ultrices a mattis in, gravida tincidunt odio. Nam bibendum justo eu vulputate porta. In aliquam in est et mattis.</p>
            </div>
        </div>
        <div style="text-align:right"><input type="submit" id="booking-button" value="Go to room page" /></div>
        <div id="booking-footer">
            <div id="cost">
                450 euros
            </div>
            <div id="booking-details">
                <div>Type of room</div>
                <div>Check-in date: 20-1-20</div>
                <div>Check-out date: 21-1-20</div>

            </div>
        </div>

    </div>
</div>